* {
  margin: 0;
}

* {
  font-family: Helvetica;
}

h1 {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
}

p {
  Margin: 16px auto;
}

body {
  margin: 16px;
}

img {
  border-radius: 16px;
}
